/*
 *= require_tree .
 *= require_self
*/

.zendesk-no-tickets {
  margin-top: 30px;
}

.zendesk-comment {
  font-size: 17.5px;
}

.zendesk-comment-body p:last-child,
.zendesk-comment-body ul:last-child,
.zendesk-comment-body ol:last-child {
  margin-bottom: 0;
}

.zendesk-comment-details {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777;
}

.zendesk-comment-details:before {
  content: '\2014 \00A0';
}
